@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Lightpink: hsl(275, 100%, 97%);
  --Grayishpurple: hsl(292, 16%, 49%);
  --Darkpurple: hsl(292, 42%, 14%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background-pattern-mobile.svg");
  background-repeat: repeat-x;
  background-color: var(--Lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
}

.container {
  background-color: var(--White);
  margin: 2rem;
  border-radius: 0.625rem;
  padding: 1rem;
  max-width: 500px;
}
.title {
  display: flex;
  padding: 1rem;
}
.title h1 {
  margin-left: 1rem;
  color: hsl(292, 42%, 14%);
  font-weight: bold;
}
.question {
  padding: 1rem;
  border-bottom: 1px solid var(--Lightpink);
}
.quiz {
  display: flex;
  justify-content: space-between;
}

.quiz::after {
  content: url(../images/icon-plus.svg);
}
.quiz.active::after {
  content: url(../images/icon-minus.svg);
}
.quiz.active + .ans {
  display: block;
}
.quiz h2 {
  margin-bottom: 1rem;
  color: var(--Darkpurple);
  font-size: 1.2rem;

  font-weight: 800;
  padding: 0.3rem;
}
.quiz h2:hover {
  color: blueviolet;
}

.question p {
  color: var(--Grayishpurple);
  font-size: 1rem;
}
.ans {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
